<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Gabinete
                  </h5>
                  <span class="h2 font-weight-bold mb-0">85</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-danger text-white rounded-circle shadow"
                  >
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"
                  ><i class="fa fa-arrow-up"></i
                ></span>
                <span class="text-nowrap">Ultimo Processo 08/01/2022</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    SECRETARIA
                  </h5>
                  <span class="h2 font-weight-bold mb-0">12</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-warning text-white rounded-circle shadow"
                  >
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"
                  ><i class="fa fa-arrow-up"></i
                ></span>
                <span class="text-nowrap">Ultimo Processo 08/01/2022</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Prazo
                  </h5>
                  <span class="h2 font-weight-bold mb-0">14</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-yellow text-white rounded-circle shadow"
                  >
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"
                  ><i class="fa fa-arrow-up"></i
                ></span>
                <span class="text-nowrap">Ultimo Processo 08/01/2022</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Audiência
                  </h5>
                  <span class="h2 font-weight-bold mb-0">3</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-info text-white rounded-circle shadow"
                  >
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"
                  ><i class="fa fa-arrow-up"></i
                ></span>
                <span class="text-nowrap">Ultimo Processo 08/01/2022</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Ultimos processos</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">Ver todos</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Processo</th>
                <th scope="col">Data Analise</th>
                <th scope="col">Pasta Atual</th>
                <th scope="col">KPI 1</th>
                <th scope="col">KPI 2</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">2523-2020</th>
                <td>09/03/2021</td>
                <td>Gabinete</td>
                <td><i class="fas fa-arrow-up text-success mr-3"></i> 2</td>
                <td><i class="fas fa-arrow-down text-warning mr-3"></i> 3</td>
              </tr>
              <tr>
                <th scope="row">2523-2020</th>
                <td>09/03/2021</td>
                <td>Gabinete</td>
                <td><i class="fas fa-arrow-up text-success mr-3"></i> 2</td>
                <td><i class="fas fa-arrow-down text-warning mr-3"></i> 3</td>
              </tr>
              <tr>
                <th scope="row">2523-2020</th>
                <td>09/03/2021</td>
                <td>Gabinete</td>
                <td><i class="fas fa-arrow-up text-success mr-3"></i> 2</td>
                <td><i class="fas fa-arrow-down text-warning mr-3"></i> 3</td>
              </tr>
              <tr>
                <th scope="row">2523-2020</th>
                <td>09/03/2021</td>
                <td>Gabinete</td>
                <td><i class="fas fa-arrow-up text-success mr-3"></i> 2</td>
                <td><i class="fas fa-arrow-down text-warning mr-3"></i> 3</td>
              </tr>
              <tr>
                <th scope="row">2523-2020</th>
                <td>09/03/2021</td>
                <td>Gabinete</td>
                <td><i class="fas fa-arrow-up text-success mr-3"></i> 2</td>
                <td><i class="fas fa-arrow-down text-warning mr-3"></i> 3</td>
              </tr>
              <tr>
                <th scope="row">2523-2020</th>
                <td>09/03/2021</td>
                <td>Gabinete</td>
                <td><i class="fas fa-arrow-up text-success mr-3"></i> 2</td>
                <td><i class="fas fa-arrow-down text-warning mr-3"></i> 3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Servidores</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Qtd</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let user of users">
                <th scope="row">{{ user.id }}</th>
                <th scope="row">{{ user.name }}</th>
                <th scope="row">{{ user.email }}</th>
              </tr> -->
              <tr>
                <td>
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/team-1-800x800.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Fernando Abreu</span>
                    </div>
                  </div>
                </td>
                <td>12</td>
              </tr>
              <tr>
                <td>
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/team-1-800x800.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Fernando Abreu</span>
                    </div>
                  </div>
                </td>
                <td>12</td>
              </tr>
              <tr>
                <td>
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/team-1-800x800.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Fernando Abreu</span>
                    </div>
                  </div>
                </td>
                <td>12</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
